.modal-header
  h4.modal-title#modal-title Add properties to {{ $ctrl.titleText }}
.modal-body#modal-body
  form.form-horizontal
    .form-group
      #valueHelpBlock.help-block.col-md-offset-2.col-md-10 Add a group to node(s). Groups are shared across snapshots in a project.
      label.col-md-2.control-label(for="groupField") Group
      .col-md-8
        input.form-control(type="text" id="groupField" aria-describedby="groupHelpBlock" ng-model="$ctrl.groupDescription")
      label.col-md-2.control-label
        button.select-button(ng-click="$ctrl.setGroup($ctrl.groupDescription)") Apply
  br
  form.form-horizontal
    .form-group
      #groupHelpBlock.help-block.col-md-offset-2.col-md-10 Mark nodes using color. Marks are specific to Draw or snapshots.
      label.col-md-2.control-label Mark
      .col-md-8
        button.btn-danger.btn-circle(ng-click="$ctrl.setMark($ctrl.marks[0])")
        button.btn-warning.btn-circle(ng-click="$ctrl.setMark($ctrl.marks[1])")
        button.btn-success.btn-circle(ng-click="$ctrl.setMark($ctrl.marks[2])")
        button.btn-primary.btn-circle(ng-click="$ctrl.setMark($ctrl.marks[3])")
        button.btn-default.btn-circle(ng-click="$ctrl.setMark($ctrl.marks[4])")
      label.col-md-2.control-label
        button.select-button(ng-click="$ctrl.setMark()") Remove
.modal-footer
  button.cancel-button.transition-200(ng-click="$ctrl.close()") Close